SUPABASE_INSTANCE_USER=postgres.qqqjyrntdkruxocqmdcx
SUPABASE_INSTANCE_PASSWORD=Sumanpatro@001
SUPABASE_INSTANCE_HOST=aws-1-ap-south-1.pooler.supabase.com
SUPABASE_INSTANCE_PORT=6543
SUPABASE_INSTANCE_DATABASE=postgres
SUPABASE_INSTANCE_POOL_MODE=transaction
SUPABASE_INSTANCE_PROJECT_ID=qqqjyrntdkruxocqmdcx