SUPABASE_INSTANCE_USER=postgres.qqqjyrntdkruxocqmdcx
SUPABASE_INSTANCE_PASSWORD=Sumanpatro@001
SUPABASE_INSTANCE_HOST=db.qqqjyrntdkruxocqmdcx.supabase.co
SUPABASE_INSTANCE_PORT=5432
SUPABASE_INSTANCE_DATABASE=postgres
SUPABASE_INSTANCE_POOL_MODE=transaction
SUPABASE_INSTANCE_PROJECT_ID= qqqjyrntdkruxocqmdcx